/* Autor: DANIEL OLIVA GOMEZ */

/* GENERAL --------------------------------------------------------------*/

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
    background-color: rgb(242, 242, 230);
}

abbr{
    cursor: help;
}


/* HEADER --------------------------------------------------------------*/

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0 2rem 0;
    background-color: rgb(255, 255, 255);
}
.header .logo img{
    max-width: 150px;
    margin-bottom: 6px;
}
ul{
    list-style: none;
}
li{
    text-align: center;
}
.link-header{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 11px;
}
.link-header:hover, .link-footer:hover{
    color: rgb(64, 195, 130);
}
@media (min-width: 1201px) {
    .header{
        flex-direction: row;
        justify-content: space-between; 
        padding: 1.5rem 3rem 2rem 3rem;
    }
    .nav-list{
        display: flex;
        justify-content: space-between; 
    }
    .navigation{
        width: 7.5em;
    }
    #tema-mes::after{
        content: "|";
        position: relative;
        left: 1.1em;
        font-size: 11px;
    }
}

/* INDEX *************************************************************************************************** */
/* DEFENSORES --------------------------------------------------------------*/

.defensores{
    position: relative;
    background-image: url('../img/hero-image-home.jpg'); 
    background-size: cover;
    background-position: center; 
    height: 28em; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    color: white; 
    text-align: center; 
}
#defensores-h1{
    font-size: 2.3em;
    margin-bottom: 0.9em;
}
#defensores-p{
    font-size: 1.7em;
    padding: 0 10px;
}
.defensores-autor{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(242, 242, 230, 0.7);
    padding: 5px;
}
#defensores-autor-p{
    font-size: 11px;
    color: rgb(0, 0, 0);
}
.link-texto{
    color: rgb(0, 0, 0);
    margin: 0;
    display: inline-block;
    border-bottom: 1px dotted rgb(0, 0, 0);
    text-decoration: none;
}
.link-texto:hover{
    border-bottom: 1px solid rgb(0, 0, 0);
}
@media (min-width: 1201px) {
    #defensores-h1{
        font-size: 3.5em;
    }
    #defensores-p{
        font-size: 2.3em;
    }
}

/* ABOUT --------------------------------------------------------------*/

.about{
    position: relative;
    padding-bottom: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 3em;
    padding: 0 10px;
}
.about-p{
    white-space: pre-line;
    margin-bottom: 15px;
    font-size: 14px;
}
#about-email{
    margin-top: 15px;
}
#about-antes{
    margin-top: 11px;
    font-size: 11px;
}
#about-checkbox{
    margin-top: 13px;
    margin-bottom: 15px;}
.about-checkbox-p{
    font-size: 14px;
}
.btn{
    background-color: transparent;
    padding: 7px;
    border-width: 1px;
    font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.btn:hover{
    border-color: rgb(64, 195, 130);
    cursor: pointer;
}
p{
    white-space: pre-line;
    font-size: 14px;
}
.input-text{
    width: 100%;
    border: none;
    height: 25px;
    margin-top: 7px;
}
.input-text:focus{
    border: 1px solid black;
    font-size: 14px;
    padding-left: 5px;
}
@media (min-width: 1201px) {
    .about{
        display: flex;
        flex-direction: row;
        padding: 0px 21em;
        gap: 75px;
        justify-content: center;
    }
    .about-p{
        font-size: 19px;
    }
    .about-container-form{
        width: 35em;
    }
}
@media (min-width: 361px) and (max-width: 1200px) {
    .input-text{
        width: 60%;
    }
}

/* STORIES --------------------------------------------------------------*/

.stories{
    position: relative;
    padding-bottom: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2.5em;
    padding: 0 10px;
    margin-bottom: 5em;
}
.story{
    background-color: rgb(255, 255, 255);
    padding: 20px 10px;
}
.stories-p{
    font-size: 14px;
}
.link-story{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.link-btn{
    background-color: transparent;
    padding: 7px;
    border-width: 1px;
    text-decoration: none;
    font-size: 14px;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    margin-top: 100px;
}
.link-btn:hover{
    border-color: rgb(64, 195, 130);
}
.stories-flex{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 1em;
}
@media (min-width: 1201px) {
    .stories{
        padding: 0px 21em;
    }
    .stories-p{
        font-size: 19px;
    }
    .stories-flex{
        flex-direction: row;
        height: 14em;
        gap: 50px;
    }
    .story{
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    .link-btn{
        margin-top: auto;
        align-self: flex-start;
    }
}
@media (min-width: 361px) and (max-width: 1200px) {
    .stories-flex{
        flex-direction: row;
        height: 14em;
        gap: 50px;
    }
    .story{
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    .link-btn{
        align-self: flex-end;
        margin-top: 0;
        margin-top: auto;
        align-self: flex-start;
    }
}


/* FIN INDEX ************************************************************************************************** */

/* ------------------------------------------------------------------------------------------------------------ */

/* TEMA DEL MES *********************************************************************************************** */
/* INTRODUCCIÓN --------------------------------------------------------------*/

.introduccion{
    text-align: center;
    padding: 10px;
}
#enero{
    color: rgb(255, 255, 255);
    background-color: rgb(64, 195, 130);
    padding: 5px;
}
.introduccion-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.tm-menu-nav-ul{
    font-weight: 900;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: flex-start; */
    padding: 0 10px;
}
.tm-menu-nav-link{
    text-decoration: none;
    font-size: 11px;
    font-weight: 900;
    color: rgb(0, 0, 0);
}
.tm-menu-nav-link:hover{
    color: rgb(64, 195, 130);
}
.tm-menu-nav-ul li:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 2px;
    background-color: rgb(64, 195, 130);
    border-radius: 100%;
    margin-left: 3px;
    margin-right: 3px;
    vertical-align: middle;
}

/* CONTENIDO --------------------------------------------------------------*/

.tm-container-x{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.tm-container-xx{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 5em;
}
.tm-animal{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
.tm-animal-pic-background{
    padding: 12px;
    background-color: rgb(255, 255, 255);
}
.tm-animal-img{
    width: 100%;
}
.tm-animal-titulo-h2{
    font-size: 35px;
}
.tm-animal-titulo-h3{
    font-size: 25px;
}
.tm-animal-titulo-p, .tm-animal-description-p{
    font-size: 15px;
}
.link-tm-animal-description-p{
    color: rgb(0, 0, 0);
    margin: 0;
    display: inline;
    font-style: italic;
    text-decoration: underline dotted;
    text-decoration-thickness: from-font; 
    text-underline-offset: 3px;
}
.link-tm-animal-description-p:hover{
    border-bottom: 1px solid rgb(0, 0, 0);
}
.tm-animal-pic-p{
    font-size: 11px;
    margin-top: 10px;
}
@media (min-width: 361px) and (max-width: 1200px) {
    .introduccion-titulo{
        flex-direction: row;
    }
    #enero{
        margin-left: 5px;
    }
}
@media (min-width: 1201px) {
    .introduccion{
        font-size: 1.3em;
    }
    .introduccion-titulo{
        flex-direction: row;
        font-size: 1.2em;
    }
    #enero{
        margin-left: 5px;
    }
    .tm-container-x{
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 2em;
    }
    .tm-menu-nav-ul{
        font-weight: 900;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 10px;
        width: 106px;
    }
    .tm-menu-nav-ul li:not(:last-child)::after {
        content: none;
        display: none;
    }
    .tm-container-xx{
        margin-top: 0;
    }
    .tm-animal{
        display: grid;
        grid-template-columns: 100px 14.5em 100px auto 25px auto;
    }
    .tm-animal-titulo{
        grid-column: 2;
    }
    .tm-animal-pic{
        grid-column: 4;
    }
    .tm-animal-titulo-h2{
        font-size: 30px;
    }
    .tm-animal-titulo-h3{
        font-size: 20px;
    }
    .tm-animal-titulo-p, .tm-animal-description-p{
        font-size: 14px;
    }
    .tm-animal-description{
        grid-column: 6;
    }
}


/* FIN TEMA MES ************************************************************************************************ */

/* ------------------------------------------------------------------------------------------------------------ */

/* BLOG ************************************************************************************************ */

.blog-container{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.blog-item-pic{
    position: relative;
}
.blog-item-img{
    width: 100%;
    display: block;
}
.blog-item-autor{
    position: absolute;
    bottom: 15px;
    right: 10px;
    background-color: rgba(242, 242, 230, 0.7);
    padding: 5px;
}
#blog-item-autor-p{
    font-size: 11px;
    color: rgb(0, 0, 0);
}
.blog-item-content{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    margin: 0;
}
.link-blog-h3{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
}
.link-blog-h3:hover{
    color: rgb(64, 195, 130);
}
.link-blog-p{
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.link-btn-blog{
    background-color: transparent;
    padding: 7px;
    border-width: 1px;
    text-decoration: none;
    font-size: 14px;
    color: rgb(0, 0, 0);
    border: 1px solid black;
}
.link-btn-blog:hover{
    border-color: rgb(64, 195, 130);
}
.blog-container-enum{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 3em;
    padding-bottom: 5em;
}
.link-btn-blog-enum{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: center;
    width: 25px;
    height: 25px;
    border-width: 1px;
    text-decoration: none;
    font-size: 14px;
    color: rgb(0, 0, 0);
    border: 1px solid black;
}
.link-btn-blog-enum:hover, #link-btn-blog-enum-actual{
    background-color: rgb(64, 195, 130);
    border-color: rgb(64, 195, 130);
    color: rgb(255, 255, 255);
}
@media (min-width: 361px) and (max-width: 1200px) {
    .blog-container{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, 525px);
        row-gap: 40px;
        column-gap: 65px;
    }
    .blog-item{
        display: flex;
        flex-direction: column;
    }
    .link-btn-blog{
        position: absolute;
        bottom: 15px;
    }
    .blog-item-content{
        background-color: rgb(255, 255, 255);
        padding: 15px;
        flex-grow: 1;
        position: relative;
    }
}
@media (min-width: 1201px) {
    .blog-container{
        display: grid;
        grid-template-columns: repeat(3, auto);
        row-gap: 40px;
        column-gap: 65px;
        padding: 0 3em;
    }
    .blog-item{
        display: flex;
        flex-direction: column;
    }
    .link-blog-p-p{
        margin-bottom: 4em;
    }
    .link-btn-blog{
        position: absolute;
        bottom: 15px;
    }
    .blog-item-content{
        background-color: rgb(255, 255, 255);
        padding: 15px;
        flex-grow: 1;
        position: relative;
    }
}


/* FIN BLOG ************************************************************************************************ */

/* ------------------------------------------------------------------------------------------------------------ */

/* FOOTER --------------------------------------------------------------*/
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    bottom: 0px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 9px;
    line-height: 20px;
    padding: 20px 0 40px 0;
    margin-top: auto;
    font-weight: 400;
}
.img-footer{
    max-width: 150px;
    margin-bottom: 6px;
}
.socials{
    display: flex;
    margin-top: 4px;
    /* border: 1px solid red; */
}
.politicas{
    line-height: 15px;
}
.img-socials{
    width: auto;
    object-fit: contain;
    height: 12px;
}
.img-socials:hover{
    opacity: 0.7;
}
.link-footer{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
@media (min-width: 1201px) {
    .footer{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        padding: 1.5rem 3rem 2rem 3rem;
        flex-wrap: wrap;
    }
    .img-footer{
        margin: 10px 0;
    }
    #p-footer{
        grid-area: 2 / 1 / 2 / 2;
    }
    .socials{
        justify-content: flex-end;
    }
    .politicas{
        display: flex;
        justify-content: flex-end;
        gap: 22px;
    }
    #pol-priv::after, #cookies::after{
        content: "|";
        position: relative;
        left: 1em;
        font-size: 11px;
    }
    .img-socials{
        height: 19px;
    }
}
